section{
    display: flex;
    flex-direction: column;
}
.create-project{
    width: 100%;
    height: 80%;
    display: flex;
}
.left-project{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project-info{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
    border-radius: 2rem;
    background-color: #EDEDED;
    font-family: var(--font-secundary);
    padding: 10px;
    overflow: auto;
    box-shadow: #EDEDED 0 0 10px 0, #000 0 0 8px 0;
}
.info h3{
    text-align: left;
    width: 90%;
    margin-left: 2%;
}
.area-medida{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title-form-area{
    width: 90%;
    text-align: left;
    margin-bottom: 10px;
}
.area-display{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.area-title{
    text-align: left;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 90%;
}
.area-display span:nth-child(1){
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2%;
}
.area-display span:nth-child(2){
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2%;
}
.area-largura, .area-comprimento, .area-altura, .area-material{
    width: 90%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.input-num{
    border: none;
    outline: none;
    background-color: #00BF63;
    width: 20%;
    text-align: center;
    border-radius: 1.5rem;
    color: #fff;
}
.dtl-area{
    width: 90%;
    background-color: #EDEDED;
    box-shadow: 0 0 10px 0 #EDEDED,#000 0 0 8px 0;
    margin-left: 4%;
    display: flex;
    align-items: center;
    justify-content: center;border-radius: 1rem;
    margin-top: 5%;
    padding: 5px;
}
.input-name-area{
    border: none;
    width: 90%;
    background-color: transparent;
    border-bottom: 2px solid #000;
    outline: none;
}
.input-material{
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 1px #000 solid;
    color: #000;
    outline: none;
    text-align: center;
}
label{
    width: 70%;
    text-align: left;
    font-family: var(--font-secundary);
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 5%;
}
.area-material i{
    cursor: pointer;
    color: #00BF63;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2rem;
    transition: all 0.5s ease-in-out;
    background-color: #f9f9f9;
    box-shadow: #6f6f6f 0 0 10px 0;
    border-radius: 50%;
}
.area-material i:hover{
    background-color: #00BF63;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    box-shadow: #EDEDED 0 0 10px 0, #000 0 0 5px 0;
}
.name-project{
    background-color: #EDEDED;
    border: none;
    outline: none;
    border-radius: 2rem;
    width: 90%;
    margin-bottom: 15%;
    height: 6%;
    font-size: 15px;
    display: flex;
    transition: all 0.5s ease-in-out;
    padding: 5px;
    box-shadow: #8E9593 0 0 8px 0, #00000070 0 0 10px 0;
}

.center-project{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.center-project label{
    width: 90%;
    text-align: left;
}
textarea{
    resize: none;
    width: 90%;
    height: 70%;
    size-adjust:unset;
    border: none;
    border-radius: 1rem;
    background-color: #EDEDED;
    box-shadow: #8E9593 0 0 8px 0, #00000070 0 0 10px 0;
    outline: none;
    padding: 10px;
}
.max-num{
    width: 90%;
    text-align: right;
    font-size: 10px;
    font-family: var(--font-third);
    color: #00BF63;
    font-weight: bolder;
}
.btn-proj{
    margin-top: 5%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}
.save-btn{
    width: 90%;
    height: 100%;
    border-radius: 2.5rem;
    background-color: #00BF63;
    font-size: 18px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 5px 2px 0 #0a5732, 0 5px 2px 0 #000;
}
.save-btn:hover{
    background-color: #75deab;
}
.save-btn:active{
    width: 90%;
    background-color: #fff;
    color: #ffffff;
    text-shadow: 0px 2.5px 2px #000, 0px -2px 6px #000;
    font-weight: 400;
    box-shadow: inset 0 5px 2px 0 #0a5732, inset 0 0px 5px 0 #000;
    font-size: 20px;
}
.right-project{
    height: 100%;
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.right-project .title-priv{
    text-align: left;
    width: 40%;
}
.privacity{
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 30%;
}
.privacity .public{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.privacity span{
    font-family: var(--font-secundary);
}
.public input{
    width: 13%;
    height: 23%;
    margin: 0;
}
.person{
    height: 60%;
}
.chose-block{
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(7px);
    background-color: #00000071;
    align-items: center;
    flex-direction: column;
    display: none;
    left: 0%;
    top: 0%;
}
.chose-block i{
    margin-top: 5%;
    font-size: 30px;
    color: #00BF63;
    margin-left: 80%;
    background-color: #fff;
    border: #000 2px solid;
    border-radius: 100%;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    box-shadow: #000 0 0 8px 0;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.chose-block i:hover{
    margin-top: 5%;
    font-size: 25px;
    color: #8f440b;
    margin-left: 80%;
    background-color: #c1baba;
    border: #000 2px solid;
    border-radius: 100%;
    padding: 5px;
    width: 30px;
    display: flex;
    align-items: center;
    box-shadow: #000 0 0 8px 0;
    justify-content: center;
    cursor: pointer;
}
.inventory{
    margin-top: 10%;
    width: 70%;
    height: 30%;
    max-height: 60%;
    overflow: auto;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 14%;
    background-color: #C6C6C6;
    box-shadow: #C6C6C6 5px 1px 1px 1px,
        #C6C6C6 -1px 5px 1px 2px,
        #c6c6c6 5px -8px 1px 0px,
        #FFFFFF -15px 2.5px 1px 3px,
        #FFFFFF 4px -15px 1px 2px,
        #FFFFFF -7.5px -7.5px 1px 2px,
        #555555 8px -4px 1px 5px,
        #555555 8px 4px 1px 5px,
        #555555 0px 10px 1px 5px,
        #C6C6C6 -10px 12px 1px 3px,
        #C6C6C6 10px -12px 1px 3px,
        #000 8px 10px 1px 5px, 
        #000 0px 15px 1px 5px,
        #000 -15px 12px 1px 3px, 
        #000 -8px 15px 1px 5px, 
        #000 15px 5px 1px 5px,
        #000 -20px 2.5px 1px 3px,
        #000 -15px -7.5px 1px 3px,
        #000 -7.5px -15px 1px 3px,
        #000 7px -20px 1px 6px,
        #000 15px -12px 1px 6px
        ;
}
.line{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line img{
    width: 60px;
    height: auto;
    cursor: pointer;
    background-color: #8B8B8B;
    border-top: solid #373737 3px;
    border-left: solid #373737 3px;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transition: box-shadow 0.3s ease-in-out;
}
.line img:hover{
    scale: 1.1;
    box-shadow: #000 0 0 5px 0;
}
.overlayer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0000005d;
    backdrop-filter: blur(2px);
    position: absolute;
    display: none;

}
.popup{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EDEDED;
    box-shadow: #EDEDED 0 0 8px 0, #000 0 0 20px 5px;
    border-radius: 3rem;
    transition: all ease-in-out 0.5s;
}
.alert-gif{
    width: 40%;
    margin-bottom: 4%;
}
.text-alert{
    width: 80%;
    font-size: 15px;
    text-align: justify;
    font-family: var(--font-third);
    font-weight: 400;
    margin-top: 5%;
}
.popup i{
    font-size: 26px;
    color: #000;
    margin-left: 75%;
    cursor: pointer;
}
.btn-confirm{
    width: 80%;
    height: 10%;
    border-radius: 2rem;
    background-color: #D68B53;
    box-shadow: 0 0 10px 0 #D68B53,0 0 5px 0 #000;
    color: #fff;
    font-family: var(--font-third);
    font-weight: 400;
    border: none;
    margin-top: 5%;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.btn-confirm:hover{
    width: 90%;
    height: 11%;
    border-radius: 10px;
    background-color: #EDEDED;
    border: 2px solid #D68B53;
    color: #D68B53;
    font-size: 18px;
    font-weight: 700;
}