*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first-content{
    width: 100%;
    height: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-bar{
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    background-color: #EDEDED;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-sans2);
    z-index: 4;
    transition: 0.5s;
    height: 7%;
}
.sticky{
    background-color: #d0d0d08b;
    width: 100%;
    height: 5%;
    margin-top: 0;
    box-shadow: 0 0 20px 0 #6c6c6c;
    transition: all 0.5s ease-in-out;
}
.sticky:hover{
    background-color:#d0d0d0;
}
nav h4{
    color: #563C85;
}
.nav-bar a{
    text-decoration: none;
    color: #000;
    font-size: 10px;
    cursor: pointer;
}
.container{
    width: 60%;
    height: 70%;
    display: flex;
    border-radius: 3rem;
    margin-top: 8%;
    transition: 0.5s ease-in-out all;
    background-color: #00BF63;
    border: 1px solid #00BF63;
    box-shadow: #00BF63 0 0 10px 0;

}
.login, .cadastro, .overlayer{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.login{
    transition: all 0.6s ease-in-out;
    opacity: 1;
    border-radius: 3rem 0 0 3rem;
}
.cadastro{
    background-color: #563C85;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    border-radius: 0 3rem 3rem 0;
}
.overlayer{
    width: 447.55px;
    height: 522.48px;
    background-image: url(../assets/wallpaper1.png);
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 50%;
    transition: all ease-in-out 0.5s;
    border-radius: 0 3rem 3rem 0;
}
.overlayer-2{
    left: 20%;
    background-image: url(../assets/wallpaper\ 2.png);
    border-radius: 3rem 0 0 3rem;
}
.head-card{
    width: 100%;
    display: flex;
    height: 6%;
    align-items: center;
    margin-top: 4%;
    justify-content: center;
}
.head-card h2{
    color: #fff;
    font-family: var(--font-sans2);
    font-weight: 500;
    text-align: center;
    font-size: 28px;
    }
.formulario{
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario label{
    color: #fff;
    font-size: 15px;
    font-family: var(--font-sans2);
    width: 90%;
    font-weight: 300;
    text-align: left;
    margin-bottom: 2%;
}
.formulario input{
    width: 90%;
    font-size: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px #ffffff solid;
    margin-bottom: 2%;
    color: #fff;
}
.formulario button{
    width: 40%;
    height: 10%;
    border: none;
    border-radius: 3rem;
    background-color: #0277B5;
    color: #fff;
    font-family: var(--font-sans2);
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    box-shadow: #0277B5 0 0 5px 0;
    margin-top: 5%;
}
.formulario button:hover{
    width: 90%;
    background-color: rgb(65, 123, 211);
    border: solid 1px #fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0;
    box-shadow: rgb(65, 123, 211) 0 0 5px 0;

}
.btn-change{
    width: 40%;
    height: 10%;
    border: 1px #fff solid;
    background-color: #00bf6319;
    color: #fff;
    font-family: var(--font-sans2);
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}
.btn-change:hover{
    background-color: #00BF63;
    width: 50%;
    cursor: pointer;
}
.names-inputs{
    width: 90%;
    display: flex;
}
.name-div{
    width: 100%;
    height: 100%;
}
.nick-div{
    width: 90%;
    height: 100%;
}
.formulario .data-nascimento{
    width: 90%;
    margin: 0;
    margin-bottom: 2%;
    font-size: 18px;
    display: flex;
    gap: 2%;
}
.data-nascimento input{
    width: 45%;
}
.data-nascimento span{
    color: #fff;
    font-family: var(--font-sans2);
    margin-left: 10%;
    font-weight: 300;
}
.formulario img{
    width: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    box-shadow: #afafaf 0 0 10px 0;
}
.verificacao{
    font-size: 10px;
    color: rgb(255, 000, 000);
    font-family: var(--font-sans2);
    font-weight: 400;
    width: 90%;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 2%;
}

.sucesso-card{
    position: absolute;
    width: 25%;
    height: 20%;
    background-color: #ffffff;
    box-shadow: #000 0 0 5px 0;
    margin-top: 5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.7rem;
    display: none;
}
.sucesso-card::before{
    width: 0%;
    height: 5px;
    content: '';
    position: absolute;
    background-color: #02b52f;
    box-shadow: #00ff84 0 0 6px 0;
    align-self: last baseline;
    animation: progress 3s linear;
    transition: all 0.5s linear;
}

@keyframes progress{
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}

.content-card{
    height: 90%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-card img{
    width: 40%;
    margin-bottom: 5%;
    margin-left: 3%;
}
.content-card h6{
    font-size: 20px;
    font-family: var(--font-sans2);
    text-align: left;
    margin-left: 5%;
    margin-top: 2%;
}