@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Montserrat&family=Open+Sans:wght@500&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
:root{

    --font-first: 'Arimo', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;
    --font-third: 'Open Sans', sans-serif;
    --font-fourth: 'Questrial', sans-serif;
    --font-sans2: 'Open Sans', sans-serif;
};